@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Montserrat:400,500,700,900&display=swap');

h1 {
    color: blue;
}

.nav__logo {
    width: 100px;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: #5371ff;
    border-bottom: 4px solid #5371ff;
}

.navbar-light .navbar-nav .nav-link {
    color: #5371ff;
}

.navbar-light .nav-ico .nav-link {
    color: #222222;
}

.header__grid {
    background: url('../img/background.svg');
    padding-top: 80px;
    padding-bottom: 80px;
    background-size: cover;
    background-position: 50% 50%;;
}

.header__grid--picture {
    width: 100%;
    border-radius: 3px;
}

.header__grid h1 {
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 70px;
}

.header__grid p {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 55px;
    line-height: 50px;
}

.header__cta {
    margin-top: 20px;
}

.header__cta .btn-primary {
    border-radius: 50px;
    background: #ffffff;
    padding: .775rem 2.5rem;
    color: #325DFF;
}

.header__cta .btn-primary.btn--active {
    background: #F24A51;
    color: #ffffff;
}

.classic__subtitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 50px;
    color: #222222;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
}

.classic__subtitle--underline {
    height: 5px;
    width: 10%;
    background: #222222;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 60px;
}

.actions__circle--blue {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background: #325DFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.actions__circle--blue img {
    width: 50%;
}

.actions__circle--blue + h3 {
    color: #5371FF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 30px;
}

.actions__circle--blue + h3 + p {
    color: #222222;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}

.divider__vertical {
    width: 1px;
    background: #707070;
    margin: 0 auto;
    height: 60px;
    border: none;
    margin-top: 40px;
    margin-bottom: 40px;
}

.discover__video {
    width: 50%;
    margin: 0 auto;
}

.discover__video--background {
    background: #5371FF;
    height: 300px;
    width: 100%;
    margin-top: -200px;
    z-index: -1;
}

.brand__section .container {
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-template-areas:
                            "i1 i4 i7 i10 i13"
                            "i2 i5 i8 i11 i14"
                            "i3 i6 i9 i12 i15";
    grid-template-columns: repeat(5, 1fr);
    column-gap: 10px;
    row-gap: 2rem;
}

.brand__section img {
    width: 80%;
    margin: auto auto;
}

.brand__img--1 {
    grid-area: i1;
}

.brand__img--2 {
    grid-area: i2;
}

.brand__img--3 {
    grid-area: i3;
}

.brand__img--4 {
    grid-area: i4;
}

.brand__img--5 {
    grid-area: i5;
}

.brand__img--6 {
    grid-area: i6;
}

.brand__img--7 {
    grid-area: i7;
}

.brand__img--8 {
    grid-area: i8;
}

.brand__img--9 {
    grid-area: i9;
}

.brand__img--10 {
    grid-area: i10;
}

.brand__img--11 {
    grid-area: i11;
}

.brand__img--12 {
    grid-area: i12;
}

.brand__img--13 {
    grid-area: i13;
}

.brand__img--14 {
    grid-area: i14;
}

.brand__img--15 {
    grid-area: i15;
}

.feedback__section--grid {
    margin: 0 auto;
    width: 100%;
    display: grid;
    grid-template-areas:
                            "video banner"
                            "video banner"
                            "video banner";
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 2rem;
}

.feedback__quote--blue {
    grid-area: banner;
    background: #5371FF;
    min-height: 400px;
}

.feedback__quote--blue p {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    width: 60%;
    margin: 0 auto;
    margin-top: 20px;
}

.feedback__section .feedback__video {
    grid-area: video;
    height: 360px;
    margin: auto 0;
    width: 80%;
    margin-left: auto;
    margin-right: -15%;
}

.number__circle--blue {
    width: 175px;
    height: 175px;
    border-radius: 100%;
    border: 3px solid #5371FF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

.number__circle--blue h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    color: #5371FF;
}

.number__circle--blue p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #222222;
    text-align: center;
}

.search__section {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background: #5371FF;
    margin-top: 40px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
}

.search__section h2 {
    margin-bottom: 0px;
}

.search__section--group input:nth-child(1) {
    border-radius: 10px;
    border: none;
    padding: 10px 0px;
    text-align: center;
}

.search__section--group input:nth-child(2) {
    border-radius: 100%;
    border: none;
    width: 50px;
    height: 50px;
    font-weight: 900;
    background: #ffffff;
}

footer {
    background: #F0F0F0;
    padding-top: 40px;
    font-family: 'Montserrat', sans-serif;
}

footer .col-sm {
    margin: 0 auto;
    text-align: center;
}

footer .col-sm:nth-child(1) {
    border-right: 1px solid #222222;
}

footer h3 {
    font-weight: 200;
}

footer h4 {
    font-weight: 200;
    font-size: 15px;
    margin-top: 20px;
}

.social--group {
    display: flex;
    justify-content: center;
    width: 100%;
}

.social--group .fab {
    font-size: 25px;
    padding: 0 25px;
    margin-top: 20px;
}

footer ul li a {
    text-transform: uppercase;
    color: #5371FF;
    text-decoration: none;
    font-weight: 900;
    padding: 20px;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    background: #ffffff;
}

footer .container {
    margin-bottom: 20px;
}