<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{asset("css/bootstrap.min.css")}}">
        <link rel="stylesheet" href="{{asset("css/style.css")}}">
    </head>
    <body>
        <header class="header__homepage">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <span class="navbar-text">
                        <img class="nav__logo" src="{{asset("img/logo.png")}}">
                    </span>
                    <ul class="navbar-nav m-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Qui sommes-nous ?<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Nos formations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Inscription</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Recruteur</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Le blog</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav d-none d-lg-block">
                        <li class="nav-item nav-ico">
                            <a class="nav-link" href="#"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li class="nav-item nav-ico">
                            <a class="nav-link" href="#"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li class="nav-item nav-ico">
                            <a class="nav-link" href="#"><i class="fab fa-instagram"></i></a>
                        </li>
                    </ul>
                    
                </div>
            </nav>
            <div class="header__grid">
                <div class="container header__grid">
                    <div class="row">
                      <div class="col-sm">
                        <h1>Sport pour l'emploi</h1>
                        <p>Révélez vos qualités à travers le sport</p>
                        <div class="row header__cta row-mobile">
                            <div class="col-sm">
                                <a class="btn btn-primary" href="#" role="button">CANDIDAT</a>
                            </div>
                            <div class="col-sm">
                                <a class="btn btn-primary btn--active" href="#" role="button">RECRUTEUR</a>
                            </div>
                        </div>
                      </div>
                      <div class="col-sm d-none d-lg-block">
                          <img class="header__grid--picture" src="{{asset("img/header__picture.png")}}" alt="Photo de boxe">
                      </div>
                    </div>
                  </div>
            </div>
        </header>
        <main>
            <section class="actions__section">
                <h2 class="classic__subtitle">Nos actions</h2>
                <div class="classic__subtitle--underline"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                            <div class="actions__circle--blue">
                                <img src="{{asset("img/quality-badge.svg")}}" alt="">
                            </div>
                            <h3>Certificat de qualification</h3>
                            <p>Développer vos compétences à travers le sport</p>
                        </div>
                        <div class="col-sm">
                            <div class="actions__circle--blue">
                                <img src="{{asset("img/hands.svg")}}" alt="">
                            </div>
                            <h3>Accompagnement personnalisé</h3>
                            <p>Des formations de 12 semaines</p>
                        </div>
                        <div class="col-sm">
                            <div class="actions__circle--blue">
                                <img src="{{asset("img/job-seeker.svg")}}" alt="">
                            </div>
                            <h3>Aide au recrutement</h3>
                            <p>Des personnalités rigoureuses et engagées</p>
                        </div>
                    </div>
                </div>
            </section>
            <hr class="divider__vertical"/>
            <section class="discover__section">
                <h2 class="classic__subtitle">DÉCOUVRIR PASS’ SPORT POUR L’EMPLOI</h2>
                <div class="classic__subtitle--underline"></div>
                <div class="container">
                    <div class="embed-responsive embed-responsive-16by9 discover__video">
                        <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/M-2gUOB0RT8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="discover__video--background"></div>
            </section>
            <hr class="divider__vertical"/>
            <section class="brand__section">
                <h2 class="classic__subtitle">NOS PARTENAIRES</h2>
                <div class="classic__subtitle--underline"></div>
                <div class="container">
                        <img class="brand__img--1" src="{{asset("img/logo_arml.jpg")}}" alt="">
                        <img class="brand__img--2" src="{{asset("img/Logo_fitnessacademy.png")}}" alt="">
                        <img class="brand__img--3" src="{{asset("img/logo_ffsport.png")}}" alt="">
                        <img class="brand__img--4" src="{{asset("img/logo_cnsd.png")}}" alt="">
                        <img class="brand__img--5" src="{{asset("img/logo_prefet.png")}}" alt="">
                        <img class="brand__img--6" src="{{asset("img/logo_ihedn.png")}}" alt="">
                        <img class="brand__img--7" src="{{asset("img/logo_uniformation.png")}}" alt="">
                        <img class="brand__img--8" src="{{asset("img/logo_opcalia.png")}}" alt="">
                        <img class="brand__img--9" src="{{asset("img/logo_ratp.jpg")}}" alt="">
                        <img class="brand__img--10" src="{{asset("img/logo_missionlocale.png")}}" alt="">
                        <img class="brand__img--11" src="{{asset("img/logo_parispourlemploi.png")}}" alt="">
                        <img class="brand__img--12" src="{{asset("img/logo_us_metro.png")}}" alt="">
                        <img class="brand__img--13" src="{{asset("img/logo_sodexo.png")}}" alt="">
                        <img class="brand__img--14" src="{{asset("img/logo_face.png")}}" alt="">
                        <img class="brand__img--15" src="{{asset("img/logo_fdj.png")}}" alt="">
                </div>
            </section>
            <hr class="divider__vertical"/>
            <section class="feedback__section">
                <h2 class="classic__subtitle">CE QUE DISENT NOS ÉLÈVES</h2>
                <div class="classic__subtitle--underline"></div>
                <div class="feedback__section--grid">
                        <div class="embed-responsive embed-responsive-16by9 feedback__video">
                            <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/WXvtxYdbjvk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class="feedback__quote--blue">
                            <p>
                                « Praesent ante tortor, euismod laoreet turpis et, vulputate faucibus quam. Ut efficitur pulvinar tellus, in posuere leo tempor quis. Nulla tempus in nisi at lacinia. Cras efficitur rhoncus urna at euismod. Vestibulum aliquet leo sit amet fermentum ornare. Aenean mattis auctor tellus at dictum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut sagittis nulla nec volutpat dictum. In ut lacus urna. Aliquam suscipit est lorem, ac lacinia justo feugiat sit amet. Proin porta consectetur nulla, quis ultricies est accumsan nec. Quisque semper lorem eget velit tristique accumsan. Proin nec tellus ac nisi dictum suscipit id nec est. Donec sit amet quam at erat vehicula mollis non nec erat. Mauris suscipit mauris ut tincidunt dapibus.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="numbers__section">
                <h2 class="classic__subtitle">CE QUE DISENT NOS ÉLÈVES</h2>
                <div class="classic__subtitle--underline"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                            <div class="number__circle--blue">
                                <h4>20</h4>
                                <p>Formations proposées</p>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="number__circle--blue">
                                <h4>100</h4>
                                <p>Étudiants accompagnés</p>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="number__circle--blue">
                                <h4>100%</h4>
                                <p>De retour à l'emploi</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="search__section">
                <h2>S’inscrire aux newsletter Pour suivre notre actualité</h2>
                <div class="search__section--group">
                    <input type="text" placeholder="Votre adresse  email"/>
                    <input type="submit" value="ok"/>
                </div>
            </section>
        </main>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <h3>Nos réseaux sociaux</h3>
                        <div class="social--group">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="col-sm">
                        <h3>Nous contacter</h3>
                        <h4>contact@sport-pour-le-l-emploi.com</h4>
                    </div>
                </div>
            </div>
            <ul>
                <li><a href="#">Mentions légales</a></li>
                <li><a href="#">Politique de confidentialité</a></li>
                <li><a href="#">LE BLOG</a></li>
            </ul>
        </footer>
        <script src="{{asset("js/jquery-3.4.1.min.js")}}"></script>
        <script src="{{asset("js/bootstrap.min.js")}}"></script>
        <script src="https://kit.fontawesome.com/bb4e2c9be3.js" crossorigin="anonymous"></script>
    </body>
</html>